@media only screen and (min-width: 75em) {
    .large {
        display: block;
    }
    main {
        margin: 0 auto;
        max-width: 1104px;
    }
    main.home {
        grid-template-columns: 1fr 2fr 1fr;
    }
    main.discover {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto auto;
    }
    .discover-column {
        padding: 3rem;
    }
    .image-column {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }
    #hero {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
    #event {
        grid-column: 1;
        grid-row: 1;
    }
    #weather {
        grid-row: 2;
    }
    #spotlight {
        grid-column: 3;
        grid-row: 1 / 4;
        grid-template-columns: 1fr;
    }
    #join {
        grid-column: span 1;
        grid-row: 3;
    }
    #news {
        grid-column: 2 / 3;
    }
    #hero .item-box {
        bottom: 5rem;
    }
    #hero h2 {
        top: 4rem;
    }
    .not-large .sbs-listing {
        display: none;
    }
    .sbs-label {
        margin-bottom: 1rem;
    }
    .large .sbs-label {
        display: block;
    }
    main.form, main.contact {
        display: grid;
        grid-template-columns: 22rem 22rem;
        grid-gap: 4rem;
        width: 48rem;
    }
    main.form {
        grid-template-rows: auto auto;
    }
    main.form section.form {
        margin: 0;
        grid-row: 1 / 3;
    }
    main.form section.large {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        padding: 2rem;
        padding-bottom: 1rem;
    }
    #directory.discgrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #directory.disclist article {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #directory.disclist br {
        display: none;
    }
    #directory.disclist .brspace {
        display: inline;
    }
    #directory.disclist p, #directory.disclist h2 {
        margin: 0;
    }
    main.contact {
        align-content: center;
    }
    #contactinfo {
        display: flex;
        align-items: center;
    }
    #contactinfo hr {
        display: block;
        border-top: 1.5px solid #4D3C4E;
        margin: 3rem 0;
    }
}