@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Kiwi+Maru&display=swap');

html {
    background-color: #DFF8F4;
}
body {
    background-color: white;
    max-width: 960px;
    margin: 0 auto;
    font-family: Fredoka, Helvetica, sans-serif;
    color: #193F45;
    border-style: none solid;
    border-width: 5px;
    border-color: white;
    font-size: 1.3em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kiwi Maru', Georgia, serif;
    text-align: center;
}
h1 {
    font-size: 1.5em;
    margin: 0 .5em;
}
h2 {
    font-size: 1.2em;
    margin: 0 0 1em 0;
}

header {
    background-color: #F2D1A5;
    border-bottom: 5px solid white;
    padding: 50px;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 60px;
    justify-content: center;
}
.name {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto 50px;
    align-content: center;
}
header img {
    max-width: 200px;
    border: 5px solid white;
    border-radius: 20px;
    margin: 0 auto;
}
.hr { /*the actual <hr> element didn't work for this so I just had to use a div lol*/
    height: 5px;
    width: 100%;
    --repeat: 10;
    --dash-length: calc((100% - ((var(--repeat) - 1) * 13px) - 6px) / var(--repeat));

    background: radial-gradient(circle at 3px 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(var(--dash-length) + 3px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(var(--dash-length) + 16px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(2 * (var(--dash-length)) + 16px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(2 * (var(--dash-length)) + 29px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(3 * (var(--dash-length)) + 29px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(3 * (var(--dash-length)) + 42px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(4 * (var(--dash-length)) + 42px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(4 * (var(--dash-length)) + 55px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(5 * (var(--dash-length)) + 55px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(5 * (var(--dash-length)) + 68px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(6 * (var(--dash-length)) + 68px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(6 * (var(--dash-length)) + 81px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(7 * (var(--dash-length)) + 81px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(7 * (var(--dash-length)) + 94px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(8 * (var(--dash-length)) + 94px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(8 * (var(--dash-length)) + 107px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(9 * (var(--dash-length)) + 107px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(9 * (var(--dash-length)) + 120px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(10 * (var(--dash-length)) + 120px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(10 * (var(--dash-length)) + 133px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(11 * (var(--dash-length)) + 133px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(11 * (var(--dash-length)) + 146px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(12 * (var(--dash-length)) + 146px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(12 * (var(--dash-length)) + 159px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(13 * (var(--dash-length)) + 159px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(13 * (var(--dash-length)) + 172px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(14 * (var(--dash-length)) + 172px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(14 * (var(--dash-length)) + 185px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(15 * (var(--dash-length)) + 185px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(15 * (var(--dash-length)) + 198px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(16 * (var(--dash-length)) + 198px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(16 * (var(--dash-length)) + 211px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(17 * (var(--dash-length)) + 211px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(17 * (var(--dash-length)) + 224px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(18 * (var(--dash-length)) + 224px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(18 * (var(--dash-length)) + 237px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(19 * (var(--dash-length)) + 237px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(19 * (var(--dash-length)) + 250px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        radial-gradient(circle at calc(20 * (var(--dash-length)) + 250px) 50%, #D16D64 0 2.5px, rgba(0, 0, 0, 0) 3px),
        repeating-linear-gradient(to right,
            rgba(0, 0, 0, 0) 0 3px,
            #D16D64 3px calc(var(--dash-length) + 3px),
            rgba(0, 0, 0, 0) calc(var(--dash-length) + 3px) calc(var(--dash-length) + 13px));
}
main {
    background-color: #DFF8F4;
    padding: 1.5em;
    justify-content: center;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
li {
    font-size: .8em;
}
footer {
    background-color: #F2D1A5;
    border-top: 5px solid white;
    text-align: center;
    padding: 0 1em;
    padding-bottom: 1px;
    font-size: .8em;
}

ul {
    width: fit-content;
    margin: 0 auto;
    padding-left: .8em;
}
a {
    color: #D16D64;
    text-decoration: none;
    font-weight: bold;
}
.white {
    color: white;
    margin: auto 0;
}